





<style>
  .container_fluid{
    padding: 30px;
  }

.image img{
  height: 300px;
}

</style>
<div class="header">
      <div class="container">
        <h1>Kopi Luwak</h1>
        <p>The secret of DELICIOUS coffee</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Farming Luwaks", history_path %></li> 
          <li><%= link_to "Coffee", coffee_path %></li>
           <li><%= link_to "Comment", messages_path %></li>
           <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div>
</div>

<div class="container_fluid">
  <h2>What is Kopi Luwak Coffee?</h2>
  <p>Kopi Luwak, or what many people like to call, cat poop coffee, are coffee beans that have been digested and defecated by Asian Palm Civets (Indonesian jungle cats). When the Asian Palm Civets eat the berries, the gastric juices in the cat seep into the beans thus creating an abundance of amino acids. This then reduces the acidity of the coffee thus giving the Kopi Luwak it’s unique taste and aroma. This entire digestive process is also what gives the Kopi Luwak a very non-bitter taste and smooth feel. Many coffee drinkers find this to be the most positive thing about drinking Kopi Luwak coffee</p><br><br>

    <img src="http://catpoopcoffeeinc.com/wp-content/uploads/2013/03/what-is-kopi-luwak-coffee.jpg" alt="coffee" ><br /><br />
    <p>During the 1700s, Dutch colonists created coffee plantations in the Dutch East Indies islands of Sumatra and Java. Most of this coffee planted was of Arabica variety, which at the time came from the Middle Eastern country of Yemen.</p>
    <p>While the Dutch inhabited Sumatra and Java, the colonists used native Indonesian farmers to work the coffee plantations and pick coffee fruits for production. However, the Dutch colonists prohibited the Indonesian famers to pick and harvest the coffee fruits for their own personal use. As a result, the Indonesian farmers discovered a new way to enjoy and drink coffee. The Indonesian farmers soon discovered that the Asian Palm Civet ate the Arabica coffee fruits and left the coffee beans undigested in their poop.</p><br><br>
    <div class="image">
      <img src="http://www.boxnewsbox.com/wp-content/uploads/2015/01/luwak-dropping.jpg" alt="coffee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
       <img src="https://balikopiluwak.files.wordpress.com/2010/04/kopi-luwak-1.jpg" alt="coffee">
    </div>
    <br>
    <p>So what the native farmers did was collect the coffee beans from the poop, cleaned them, roasted them, and brewed their own coffee.  As more and more Indonesian farmers began to brew Kopi Lowak (also known as civet coffee), the aroma soon caught the attention of the Dutch colonists and plantation owners. When this happened, Kopi Luwak quickly became the favorite coffee drink of choice for both natives and the Dutch colonists.</p><br />

    <img src="http://www.sixinseoul.com/uploads/6/4/3/5/643559/4715798_orig.jpg" alt="coffee"><br /><br />
    <p>However, since the process of Kopi Luwak was very time consuming and scarce, Kopi Luwak became very pricey, thus making it the most expensive coffee in the world in it’s time. And it still is today!</p>
</div>


<div class="footer">
      <div class="container">
        <p>&copy; Kopi Luwak International</p>
      </div>
    </div>
